{% assign seperator = '/' %}
{% unless template == 'index' or template == 'cart'  or template == 'page.lookbook' %}
  <div {% if first %}id="main-breadcrumbs"{% endif %} class="breadcrumbs section-x-padding pt-8 {% if settings.center_page_titles %}flex justify-center{% endif %}" data-color-scheme="primary">
    <nav class="breadcrumb font-secondary text-sm" role="navigation" aria-label="breadcrumbs">
      <a href="/" title="Home">Home</a>
      {% if template contains 'page' %}
        <span aria-hidden="true">{{ seperator }}</span>
        <span class="text-scheme-meta">{{ page.title }}</span>
      {% elsif template contains 'product' %}
        {% if collection.url %}
          <span aria-hidden="true">{{ seperator }}</span>
          <a href="{{ collection.url }}">{{ collection.title }}</a>
        {% endif %}
        <span aria-hidden="true">{{ seperator }}</span>
        <span class="text-scheme-meta">{{ product.title }}</span>
      {% elsif template contains 'collection' and collection.handle %}
        <span aria-hidden="true">{{ seperator }}</span>
        {% if current_tags %}
          {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
          <a href="{{ url }}">{{ collection.title }}</a>
          <span aria-hidden="true">{{ seperator }}</span>
          <span class="text-scheme-meta">{{ current_tags | join: " + " }}</span>
        {% else %}
          <span class="text-scheme-meta">{{ collection.title }}</span>
        {% endif %}
      {% elsif template == 'blog' %}
        <span aria-hidden="true">{{ seperator }}</span>
        {% if current_tags %}
          <a href="{{ blog.url }}">{{ blog.title }}</a>
          <span aria-hidden="true">{{ seperator }}</span>
          <span class="text-scheme-meta">{{ current_tags | join: " + " }}</span>
        {% else %}
        <span class="text-scheme-meta">{{ blog.title }}</span>
        {% endif %}
      {% elsif template == 'article' %}
        <span aria-hidden="true">{{ seperator }}</span>
        <a href="{{ blog.url }}">{{ blog.title }}</a>
        <span aria-hidden="true">{{ seperator }}</span>
        <span class="text-scheme-meta">{{ article.title }}</span>
      {% else %}
        <span aria-hidden="true">{{ seperator }}</span>
        <span class="text-scheme-meta">{{ page_title }}</span>
      {% endif %}
    </nav>
  </div>
{% endunless %}
