{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}
<form class="flex-auto flex flex-col overflow-hidden" id="Facet-Filters-Form-Mobile" @submit.prevent="filterFormSubmit" data-color-scheme="{{ section_color | default: 'primary' }}">
  {%- if results.terms -%}
    <input type="hidden" name="q" value="{{ results.terms | escape }}">
    <input name="options[prefix]" type="hidden" value="last">
  {%- endif -%}
  <div class="py-4 flex-auto overflow-hidden overflow-y-auto px-5 -mx-5">
    {% if linklist != blank %}
      <nav class="mt-6" aria-label="{{ 'collections.general.title' | t }}">
        <ul class="mb-10 text-base">
          {% for link in linklists[linklist].links %}
            <li class="mb-2">
              <a class="inline-block border-transparent border-b-text-width py-2 {% if link.active %} border-current{% endif %}" href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>{{ link.title }}</a>
              {%- liquid
                assign active_links = link.links | where: 'active', true
              -%}
              {% if link.links %}
                <ul class="mt-2 {% unless link.active or active_links.size > 0 %}hidden{% endunless %} pb-4">
                  {% for childlink in link.links %}
                    <li class="ml-4 mb-2">
                      <a class="border-transparent border-b-text-width py-2 {% if childlink.active %} border-current{% endif %}" href="{{ childlink.url }}" {% if childlink.active %}aria-current="page"{% endif %}>{{ childlink.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endif %}
    {%- for filter in results.filters -%}
      {%- liquid
        if enable_color_swatch_filters
          assign is_color = false
          assign swatch_trigger = 'products.product.color_swatch_trigger' | t | downcase
          assign filter_downcase = filter.label | downcase
          if filter_downcase contains swatch_trigger
            assign is_color = true
          elsif swatch_trigger == 'color' and filter_downcase contains 'colour'
            assign is_color = true
          endif
        endif
      -%}
      <div class="mb-4" data-index="{{ forloop.index0 }}" data-initial-state="{% if expand_filters %}true{% elsif filter.active_values.size > 0 %}true{% elsif filter.type == 'price_range' %}
      {% if filter.min_value.value or filter.max_value.value %}true{% endif %}{% else %}false{% endif %}">
        <button type="button"
            class="w-full flex items-center border-b-text-width py-2 border-scheme-border font-secondary text-left text-sm"
            x-bind:aria-expanded="accordionOpen.accordion{{ forloop.index0 }}? true: 'false'"
            @click="accordionOpen.accordion{{ forloop.index0 }} = !accordionOpen.accordion{{ forloop.index0 }}"
            aria-controls="accordion{{ forloop.index0 }}">
          {{ filter.label }}
          {% if filter.active_values.size > 0 %}<span class="ml-1"> ({{ filter.active_values.size }})</span>{% endif %}
          <span class="inline-block w-4 align-middle svg-scale ml-auto transform origin-center rotate transition" :class="{'rotate-180': accordionOpen.accordion{{ forloop.index0 }}}">{% render 'icon-chevron-down' %}</span>
        </button>
        <div class="pb-4" id="accordion{{ forloop.index0 }}" x-show="accordionOpen.accordion{{ forloop.index0 }}">
          {%- case filter.type -%}
            {%- when 'list', 'boolean' -%}
              {% if is_color %}
                <div class="grid grid-cols-5 gap-1 -ml-0.5 mt-5">
                  {%- for filter_value in filter.values -%}
                    {% liquid
                      assign color_image = filter_value.value | handle | append: '.' | append: 'png' | file_img_url: '50x' | prepend: 'https:'
                      assign color_swatch_fallback = filter_value.value | split: ' ' | last | handle
                    %}
                    <div class="inline-block relative variant-input">
                      <input type="checkbox"
                        class="color-swatch cursor-pointer absolute top-0 left-0 w-full h-full opacity-0"
                        name="{{ filter_value.param_name }}"
                        value="{{ filter_value.value }}"
                        id="Filter-{{ filter.label }}-{{ forloop.index0 }}-mobile"
                        {% if filter_value.active -%}checked{%- endif %}
                        {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                      >
                      <label for="Filter-{{ filter.label }}-{{ forloop.index0 }}-mobile" class="relative block p-0.5  border-1 min-w-4 border cursor-pointer {% if capitalize_filters %}capitalize{% endif %} flex items-center {% if filter_value.count == 0 and filter_value.active == false -%}line-through{%- else -%}hover:text-scheme-accent{%- endif %}" {% if filter_value.count == 0 and filter_value.active == false -%}disabled{% endif %}>
                        {%- if filter_value.count == 0 and filter_value.active == false -%}
                          <span class="absolute top-0 left-0 bottom-0 z-10 h-0.5 w-full bg-scheme-text transform top-1/2 -translate-y-1/2 -rotate-45"></span>
                        {%- endif -%}
                        <span class="block w-full border-scheme-border border-text-width" style="padding-top: 100%; background-image: url({{ color_image }}); background-color: {{ color_swatch_fallback }};"></span>
                        <span class="visually-hidden">{{ filter_value.label }}</span>
                      </label>
                    </div>
                  {%- endfor -%}
                </div>
              {% else %}
                <ul class="mt-5">
                  {%- for filter_value in filter.values -%}
                    <li class="custom-checkbox flex justify-start items-center mb-2">
                      <input type="checkbox"
                        class="visually-hidden absolute"
                        name="{{ filter_value.param_name }}"
                        value="{{ filter_value.value }}"
                        id="Filter-{{ filter.label }}-{{ forloop.index0 }}-mobile"
                        {% if filter_value.active -%}checked{%- endif %}
                        {% if filter_value.count == 0 and filter_value.active == false -%}disabled{%- endif %}
                      >
                      <label for="Filter-{{ filter.label }}-{{ forloop.index0 }}-mobile" class="cursor-pointer {% if settings.links_uppercase %}uppercase{% elsif capitalize_filters %}capitalize{% endif %} flex items-center {% if filter_value.count == 0 and filter_value.active == false -%}text-scheme-meta line-through{%- else -%}hover:text-scheme-accent{%- endif %}" {% if filter_value.count == 0 and filter_value.active == false -%}disabled{% endif %}>
                        <span class="custom-checkbox__input"></span>
                        {{ filter_value.label }}
                        {% if show_filter_count %}
                          <span class="inline-block ml-1">({{ filter_value.count }})</span>
                        {% endif %}
                      </label>
                    </li>
                  {%- endfor -%}
                </ul>
              {% endif %}
            {%- when 'price_range' -%}
              {% liquid
                assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
                assign uses_comma_decimals = false
                if currencies_using_comma_decimals contains cart.currency.iso_code
                  assign uses_comma_decimals = true
                endif
              %}
              <div class="mt-2 flex items-center justify-between">
                <div class="filter-group-display__price-range-from flex items-center justify-center">
                  <span class="pr-1">{{ cart.currency.symbol }}</span>
                  <div class="relative">
                    <input name="{{ filter.min_value.param_name }}"
                      class="font-body border-text-width border-scheme-border bg-transparent p-1 w-28"
                      id="Filter-{{ filter.label | escape }}-GTE-mobile"
                      {%- if filter.min_value.value -%}
                        {%- if uses_comma_decimals -%}
                          value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                        {%- else -%}
                          value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                        {% endif %}
                      {%- endif -%}
                      type="number"
                      placeholder="{{ 'facets.filters.from' | t }}"
                      min="0"
                      max="{{ filter.range_max | divided_by: 100 | ceil }}"
                    >
                      <label class="visually-hidden field__label" for="Filter-{{ filter.label | escape }}-GTE-mobile">{{ 'facets.filters.from' | t }}</label>
                  </div>
                </div>
                <div class="px-2">&ndash;</div>
                <div class="filter-group-display__price-range-to  flex items-center justify-center">
                  <span class="pr-1">{{ cart.currency.symbol }}</span>
                  <div class="relative">
                    <input name="{{ filter.max_value.param_name }}"
                      class="font-body border-text-width border-scheme-border block bg-transparent p-1 w-28"
                      id="Filter-{{ filter.label | escape }}-LTE-mobile"
                      {%- if filter.max_value.value -%}
                        {%- if uses_comma_decimals -%}
                          value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                        {%- else -%}
                          value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                        {% endif %}
                      {%- endif -%}
                      type="number"
                      placeholder="{{ 'facets.filters.to' | t }}"
                      min="0"
                      max="{{ filter.range_max | divided_by: 100 | ceil }}"
                    >
                    <label class="visually-hidden field__label" for="Filter-{{ filter.label | escape }}-LTE-mobile">{{ 'facets.filters.to' | t }}</label>
                  </div>
                </div>
              </div>
          {%- endcase -%}
        </div>
      </div>
    {%- endfor -%}
  </div>
  <div class="pt-4 lg:pt-8 pb-safe-bottom border-scheme-border border-t-theme-width">
    <div class="mt-4 {% if total_active_values > 0 %}grid grid-cols-2 gap-5{% endif %}">
      <input class="cursor-pointer btn btn-solid-{{ section_color }}-{{ settings.solid_button_color }} w-full" type="submit" value="{{ 'facets.filters.apply' | t }}">
      {% if total_active_values > 0 %}
        <a class="btn btn-outline-{{ section_color }}-{{ settings.outline_button_color }} block" href="{{ results_url }}" @click.prevent="clearAllFilters(event)">{{ 'facets.filters.clear' | t }}</a>
      {% endif %}
    </div>
  </div>
</form>
