{% comment %}theme-check-disable LiquidTag,DeprecateLazysizes,DeprecateBgsizes{% endcomment %}
{%- liquid
  assign image_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
  assign aspect_ratio = image.aspect_ratio
  assign position_class = 'absolute left-0 top-0 bottom-0 right-0'
  assign object_class = 'object-cover'
  if contain
    assign object_class = 'object-contain'
  endif
-%}

<img class="responsive-image block lazyload w-full h-full {{ position_class }} {{ object_class }} transition-opacity duration-200 ease-in-out {% if settings.zoom_images_on_hover %}transition-transform transform group-hover:scale-110{% endif %}"
  data-src="{{ image_url }}"
  data-aspectratio="{{ aspect_ratio }}"
  data-sizes="auto"
  tabindex="-1"
  alt="{{ image.alt }}"
  style="object-position: {{ image.presentation.focal_point.x }}% {{ image.presentation.focal_point.y }}%;">
<div class="responsive-image-placeholder {{ position_class }}"></div>
<noscript>
  {% comment %}theme-check-disable ImgWidthAndHeight{% endcomment %}
  <img class="{{ position_class }} {{ object_class }} {{ focal_point }}  w-full h-full" src="{{ image | img_url: '2048x2048' }}" alt="{{ image.alt | escape }}" style="object-position: {{ image.presentation.focal_point.x }}% {{ image.presentation.focal_point.y }}%;">
  {% comment %}theme-check-enable ImgWidthAndHeight{% endcomment %}
</noscript>
