<div class="section-x-padding section-y-padding  max-w-lg mx-auto" data-color-scheme="primary">
  {% form 'reset_customer_password' %}
    <h1 class="font-heading text-2xl mb-2">{{ 'customer.reset_password.title' | t }}</h1>

    <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

    {% if form.errors %}
      <div class="mt-4 text-scheme-accent" tabindex="-1" data-login-error>{{ form.errors | default_errors }}</div>
    {% endif %}

    <label for="ResetPassword" class="mt-4 mb-1 block font-secondary text-sm">
      {{ 'customer.reset_password.password' | t }}
    </label>
    <input type="password"
      name="customer[password]"
      id="ResetPassword"
      class="w-full p-2 bg-transparent border-text-width border-scheme-border {% if form.errors contains 'password' %}border-scheme-accent{% endif %}">

    <label for="PasswordConfirmation" class="mt-4 mb-1 block font-secondary text-sm">
      {{ 'customer.reset_password.password_confirm' | t }}
    </label>
    <input type="password"
      name="customer[password_confirmation]"
      id="PasswordConfirmation"
      class="w-full p-2 bg-transparent border-text-width border-scheme-border {% if form.errors contains 'password_confirmation' %}border-scheme-accent{% endif %}">

    <div class="mt-4">
      <input type="submit" class="btn btn-primary-accent w-full" value="{{ 'customer.reset_password.submit' | t }}">
    </div>
  {% endform %}
</div>
