{%- liquid
  assign show_date = section.settings.show_date
  assign show_author = section.settings.show_author
  assign show_comments = section.settings.show_comments
  assign show_tags = section.settings.show_tags
  assign show_link = section.settings.show_link
  assign show_excerpt = section.settings.show_excerpt
  case section.settings.crop 
    when 'landscape' 
      assign ratio = '1.3' 
    when 'square' 
      assign ratio = '1' 
    when 'portrait' 
      assign ratio = '0.8'
    else
      assign ratio = '0'
  endcase 
  assign ratio = ratio | plus: 0 | times: 1.0
  if show_tags or show_comments
    assign show_sidebar = true
  endif
-%}

{% paginate blog.articles by 6 %}
<section class="wrapper section-y-padding" data-color-scheme="primary">
  {%- if section.settings.layout == 'grid' %}
    {% if  blog.all_tags.size > 0 %}
      <div class="text-sm font-secondary relative {% if settings.center_page_titles %}flex justify-center{% endif %}">
        <nav class="pb-8" role="navigation">
          <ul class="flex lg:flex-wrap lg:justify-start -mx-2 lg:-mx-4">
            <li class="inline-block px-2 lg:px-4">
              <a {% unless current_tags %}aria-current="page"{% endunless %} class="block" href="{{ blog.url }}"><span class="inline-block py-1 border-b-text-width {% unless current_tags %}border-current{% else %}border-transparent{% endunless %}">{{ 'blogs.sidebar.all_tags' | t }}</span></a>
            </li>
            {% for tag in blog.all_tags %}
              {% if current_tags contains tag %}
                <li class="inline-block px-2 lg:px-4">
                  <a aria-current="page" class="block" href="{{ blog.url }}/tagged/{{ tag | handle }}"><span class="inline-block py-1 border-b-text-width border-current">{{ tag }}</span></a>
                </li>
              {% else %}
                <li class="inline-block px-2 lg:px-4">
                  <a class="block" href="{{ blog.url }}/tagged/{{ tag | handle }}"><span class="inline-block py-1 border-b-text-width border-transparent">{{ tag }}</span></a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav>
      </div>
    {% endif %}
    <ul class="grid lg:grid-cols-3 gap-16 lg:gap-10">
      {% for article in blog.articles %}
        <li class="relative group">
          {% if article.image %}
          {% render 'image-crop' with
            image: article.image,
            ratio: ratio
          %}
          {% endif %}

          <div class="mt-8 space-y-4 {{ section.settings.text_align }}">

            <h3 class="font-heading text-xl leading-snug mt-4">
              <a href="{{ article.url }}">
                {{ article.title }}
                <span class="absolute top-0 left-0 w-full h-full z-10 block"></span>
              </a>
            </h3>

            {% if show_date or show_author %}
              <p class="text-scheme-text">
                {% if show_date %}
                  <span>{{ article.published_at | time_tag: format: 'month_day_year' }}</span>
                {% endif %}
                {% if show_date and show_author %}
                  <span>&#183;</span>
                {% endif %}
                {% if show_author %}
                  <span>{{ 'blogs.article.by_author' | t: author: article.author }}</span>
                {% endif %}
              </p>
            {% endif %}

            {%- if show_excerpt -%}
              <div class="rte">
                {% if article.excerpt.size > 0 %}
                  {{ article.excerpt }}
                {% else %}
                  <p>
                    {{ article.content | strip_html | truncatewords: 100 }}
                  </p>
                {% endif %}
              </div>
            {%- endif -%}

            {%- if article.tags.size > 0 and section.settings.show_tags -%}
              <div class="text-sm font-secondary -mx-1">
                <ul class="">
                  {% for tag in article.tags %}
                    <li class="inline-block">
                      <a class="hover:text-scheme-accent p-1 inline-block" href="{{ blog.url }}/tagged/{{ tag | handle }}">#{{ tag }}</a>{% unless forloop.last %}&nbsp;{% endunless %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {%- endif -%}

            
            {% if show_link %}
              <div class="mb-3" aria-hidden="true">
                <span class="text-scheme-text hover:text-scheme-accent">
                  {{ 'blogs.article.read_more' | t }} &rarr;
                </span>
              </div>
            {% endif %}

            {%- if show_comments and blog.comments_enabled? -%}
              <a href="{{ article.url }}#comments" class="inline-block text-sm text-scheme-text mt-2">
                {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
              </a>
            {%- endif -%}

          </div>
        </li>
      {%- endfor -%}
    </ul>
    {%- if paginate.pages > 1 -%}
    <div class="mt-8 lg:mt-16">
      {% render 'pagination', paginate: paginate %}
    </div>
    {%- endif -%}
  {%- else -%}
  <div class="grid grid-cols-1 lg:grid-cols-12 gap-10">
    <div class="lg:col-span-8">
      {% for article in blog.articles %}
        {% capture date %}{{ article.published_at | time_tag: format: 'month_day_year' }}{% endcapture %}
        <div class="relative lg:grid lg:grid-cols-4 gap-10 mb-20 {% unless forloop.last %}pb-12 border-b-theme-width border-scheme-border{% endunless %}">
          <div class="{% if show_sidebar %}lg:col-span-3 lg:col-start-2{% else %}lg:col-span-4{% endif %}">

            {% if article.image %}
              <div>
                {% render 'image-crop' with
                  image: article.image,
                  ratio: ratio
                %}
              </div>
            {% endif %}

            <div class="mt-8 space-y-4">

              {% if show_date or show_author %}
                <p class="text-scheme-text">
                  {% if show_date %}
                    <span>{{ article.published_at | time_tag: format: 'month_day_year' }}</span>
                  {% endif %}
                  {% if show_date and show_author %}
                    <span>&#183;</span>
                  {% endif %}
                  {% if show_author %}
                    <span>{{ 'blogs.article.by_author' | t: author: article.author }}</span>
                  {% endif %}
                </p>
              {% endif %}

              <h2 class="font-heading mt-4 leading-tight {{ settings.section_heading_font_size }}">
                <a href="{{ article.url }}" class="increase-target">{{ article.title }}</a>
              </h2>

              {%- if show_excerpt -%}
                <div class="rte">
                  {% if article.excerpt.size > 0 %}
                    {{ article.excerpt }}
                  {% else %}
                    <p>
                      {{ article.content | strip_html | truncatewords: 100 }}
                    </p>
                  {% endif %}
                </div>
              {%- endif -%}

              {%- if article.tags.size > 0 and section.settings.show_tags -%}
                <div class="text-sm font-secondary -mx-1 lg:hidden">
                  <ul class="">
                    {% for tag in article.tags %}
                      <li class="inline-block">
                        <a class="hover:text-scheme-accent p-1 inline-block" href="{{ blog.url }}/tagged/{{ tag | handle }}">#{{ tag }}</a>{% unless forloop.last %}&nbsp;{% endunless %}
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {%- endif -%}

              
              {% if show_link %}
                <div class="mb-3" aria-hidden="true">
                  <span class="text-scheme-accent hover:text-scheme-text">
                    {{ 'blogs.article.read_more' | t }} &rarr;
                  </span>
                </div>
              {% endif %}

              {%- if show_comments and blog.comments_enabled? -%}
                <a href="{{ article.url }}#comments" class="inline-block lg:hidden text-sm text-scheme-meta mt-2">
                  {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                </a>
              {%- endif -%}

            </div>
          </div>
          {% comment %}
            Switch in source order for better screen reader experience
          {% endcomment %}
          {%- if show_sidebar -%}
            <div class="blog__post-sidebar hidden lg:block lg:col-start-1 space-y-8">
              {%- if article.tags.size > 0 and section.settings.show_tags -%}
                <div class="text-sm font-secondary -mx-1 hidden lg:block">
                  <ul class="">
                    {% for tag in article.tags %}
                      <li class="inline-block">
                        <a class="hover:text-scheme-accent p-1 inline-block" href="{{ blog.url }}/tagged/{{ tag | handle }}">#{{ tag }}</a>{% unless forloop.last %}&nbsp;{% endunless %}
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              {%- endif -%}
              {%- if show_comments and blog.comments_enabled? -%}
                <a href="{{ article.url }}#comments" class="hidden lg:inline-block text-sm">
                  {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                </a>
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      {% endfor %}

      {%- if paginate.pages > 1 -%}
      <div class="mt-8 lg:mt-16">
        {% render 'pagination', paginate: paginate %}
      </div>
      {%- endif -%}
    </div>
    {% render 'blog-sidebar' %}
  </div>
  {%- endif -%}
</section>
{% endpaginate %}


{% schema %}
{
  "name": "Blog posts",
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "options": [
        { "value": "grid", "label": "Grid"},
        { "value": "list", "label": "List with sidebar"}
      ],
      "default":   "grid"
    },
    {
      "type": "select",
      "id": "crop",
      "label": "Crop images",
      "options": [
        {
          "value": "none",
          "label": "No crop"
        },
        {
          "value": "landscape",
          "label": "Landscape"
        },
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        }
      ],
      "default": "landscape"
    },
    {
      "type": "header",
      "content": "Articles"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_comments",
      "label": "Show comments",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "label": "Show tags",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "label": "Show excerpt",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_link",
      "label": "Show read more link",
      "default": true
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text align",
      "default": "text-left",
      "options": [
        {
          "value": "text-left",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        }
      ],
      "info": "Only applies to grid layout"
    }
  ]
}
{% endschema %}
