<div class="wrapper text-center section-y-padding">
  <h1 class="font-heading {{ settings.template_heading_size }}  mb-2">{{ 'general.404.title' | t }}</h1>
  <p>{{ 'general.404.subtext_html' | t }}</p>
  <a class="mt-8 btn btn-primary-accent" href="{{ routes.root_url }}">{{ 'general.breadcrumbs.home_link_title' | t }}</a>
</div>
